/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* My Code */

body {
	margin: 0;
	background-color: #eae7dc;
	font-family: 'Work Sans', sans-serif;
	font-size: 26px;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.logo {
	float: center;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 18px;
	height: auto;
	width: 22%;
}

.flag {
	width: 32px;
	height: auto;
	border: 1px solid #444;
}

.main {
	float: center;
	height: auto;
	width: 100%;
	margin-bottom: 200px;
	padding-bottom: 150px;
	background-color: #eae7dc;
}

.wrapper {
	margin: 0 auto;
	margin-top: 25%;
	width: 85%;
	max-width: 1700px;
	/*background-color: #000;*/
}


.wrapper img {
	height: auto;
	width: 100%;
	float: center;
}

.img_wrapper {
	text-align: center;
	margin: 8px auto;
	width: 100%;
	max-width: 1700px;
}


.img_wrapper img {
	float: center;
	margin-bottom: 40px;
	height: auto;
	width: 100%;
	border-radius: 20px;
}

.text_blue {
	background-color: #123c69;
	color: #eae7dc;
	line-height: 40px;
	margin-bottom: 60px;
	padding: 60px;
	font-size: 13px;
	border-radius: 20px;
}

.plain {
	background-color: #ac3b61;
	color: #eae7dc;
	padding: 60px;
	line-height: 40px;
	font-weight: 600;
	margin-bottom: 60px;
	font-size: 13px;
	border-radius: 20px;
}

.image {
	max-width: 100%;
	display: block;
	margin-top: 7%;
	border-radius: 20px;
}

.kuva {
	float: center;
	width: 100%;
}

header {
	display: block;
	text-align: center;
	background: #fff;
	position: fixed;
	top: 0;
	width: 100%;
}

header::after {
	content: '';
	display: table;
	clear: both;
}


header nav {
	float: center;
	text-align: center;
	height: 90px;
}

header nav ul {
	float: center;
	width: 100%;
}

header nav ul li {
	float: center;
	display: inline-block;
	padding-right: 5px;
	padding-top: 32px;
	list-style: none;
	position: relative;
}

header nav ul li a {
	float: center;
	color: #123c69;
	padding: 30px 40px;
	text-decoration: none;
	font-weight: bold;
}

header nav ul li a:hover {
	background-color: #eae7dc;
	color: #ac3b61;
}

header nav ul li ul {
	display: none;
	position: absolute;
	background-color: #f4f4f4;
	padding: 10px;
	padding-right: 90px;
	margin-top: 32px;
	border-radius: 4px;
}

header nav ul li:hover ul {
	display: block;
}

header nav ul li ul li {
	width: 220px;
	border-radius: 4px;
}

header nav ul li ul li a {
	display: block;
	text-align: left;
	padding: 18px 232px 18px 20px;
	margin-top: -28px;
	border-radius: 4px;
}

header nav ul li ul li a:hover {
	color: #ac3b61;
}



.flags ul {
	background-color: #f4f4f4;
	width: 14px;
}

.flags ul li {
	width: 90px;
	border-radius: 4px;
}

.flags ul li a {
	display: block;
	float: center;
	text-align: center;
	padding: 22px 4px 22px 2px;
	margin-top: -28px;
	margin-right: -4px;
	border-radius: 4px;
}

h1 {
	font-family: 'Oswald', sans-serif;
	background-color: #123c69;
	color: #eae7dc;
	text-align: center;
	font-size: 45px;
	line-height: 60px;
	padding: 60px;
	margin-top: 25%;
	margin-bottom: 5%;
	border-radius: 20px;
}

footer {
	width: 100%;
	height: 200px;
	position: fixed;
	bottom: 0;
	z-index: -1;
	background-color: #111;
}

@media only screen and (min-width: 1000px){
	
	.logo {
		float: left;
	}

	header nav {
		float: left;
	}

	.wrapper {
		margin-top: 7%;
	}

	.img_wrapper {
		margin-top: 2%;
	}

	.img_wrapper img {
		width: 49.6%;
		float: center;
	}

	.logo {
		float: left;
		margin-top: -7px;
		max-width: 230px; 
	}

	h1 {
		margin-top: 3%;
	}

	body {
		font-size: 26px;
	}

	.text_blue, .plain {
		font-size: 26px;
	}
}